<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }} | a white paper by Public Innnovation</title>
    <meta name="description" content="We&#039;re a place-based, impact-focused civic incubator working to build a civic innovation and social entrepreneurship ecosystem in the Sacramento region. This is our white paper.">
    <meta name="author" content="Public Innovation, Ash Roughani">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pygment_trac.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700">

    <!-- GitHub ribbon -->
    <link rel="stylesheet" href="/css/gh-fork-ribbon.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="gh-fork-ribbon.ie.css">
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33882486-10', 'publicinnovation.org');
      ga('send', 'pageview');

    </script> 

  </head>

  <body>
    <!-- GitHub ribbon -->
    <div class="github-fork-ribbon-wrapper right" id="ribbon">
      <div class="github-fork-ribbon">
          <a href="https://github.com/publicinnovation/whitepaper">Fork me on GitHub</a>
      </div>
    </div>

    <div class="wrapper">
      <header>
        <h1 class ="paper-title"><a href="/"><strong>Bridging Distant Worlds: Innovation in the Civic Space</strong></a></h1>
        <h5><small>a digital white paper by 
          <a href="http://publicinnovation.org/" class="org">Public Innovation</a></small></h5>
        <hr>
        <p class="nav-menu" id="printhide">
          <a href="/">Introduction</a><br>
          <a href="/defining-innovation">1. Defining Innovation</a><br>
          <a href="/pursuing-innovation">2. Pursuing Innovation</a><br>
          <a href="/civic-innovation-structures">3. Civic Innovation Structures</a><br>
          <a href="/civic-innovation-themes">4. Civic Innovation Themes</a><br>
          <a href="/recommendations">5. Recommendations</a><br>
          <a href="/agenda-resolution">Appendix A. Draft Regional Civic Innovation Agenda Resolution</a><br>
          <a href="/innovative-jurisdiction-framework">Appendix B. Framework for an Innovative Jurisdiction</a><br>
          <a href="/new-urban-mechanics">Appendix C. New Urban Mechanics Executive Order</a><br>
        </p>
      </header>

      <section>

        <h1>{{ page.title }}</h1>

        {{ content }}

      </section>

<!--       <footer>
        <p>This project is maintained by <a href="https://github.com/publicinnovation">publicinnovation</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer> -->

    </div><!-- /.wrapper -->
  </body>
</html>